<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Details.cshtml
    Purpose: Html code for the Details section of Store page.
    Workload:   We each contributed equally to this.
-->
@model CostLowApp.Models.store

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details for Store #@Html.DisplayFor(model => model.storeNumber)</h2>

    <div>

        <hr />
        
        <!--Begin Details List-->
        <dl class="dl-horizontal">

            <!--Store Number Data-->
            <dt>
                @Html.DisplayNameFor(model => model.storeNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.storeNumber)
            </dd>

            <!--Store Address Data-->
            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <!--Store Phone Number Data-->
            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <!--Member Visits Data-->
            <dt>
                Member Visits
            </dt>
            <dd>
                @Html.DisplayFor(model => model.visits.Count)
            </dd>

            <dt>
                Departments
            </dt>
            <!--End List-->

            
            <!--Populate department list-->
            @foreach (var item in Model.departments)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.departmentName)
                </dd>
            }

        </dl>
    </div>
    <p>
        <!--Edit Button: Send user to Store Edit form-->
        @Html.ActionLink("Edit", "Edit", new { id = Model.storeNumber }) |

        <!--Back Button: Send user to Store Index-->
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>