@model CostLowApp.Models.store

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <h4>store</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.storeNumber }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>