@model CostLowApp.Models.store

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details for Store #@Html.DisplayFor(model => model.storeNumber)</h2>

    <div>
        
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.storeNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.storeNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                Member Visits
            </dt>
            <dd>
                @Html.DisplayFor(model => model.visits.Count)
            </dd>

            <dt>
                Departments
            </dt>
            @foreach (var item in Model.departments)
            {
            <dd>
                @Html.DisplayFor(modelItem => item.departmentName)
            </dd>
            }

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.storeNumber }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>