<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Details.cshtml
    Purpose: Html code for the Details section of Members page.
    Workload:   We each contributed equally to this.
-->
@model CostLowApp.Models.member

@{
    ViewBag.Title = "Details";
}
<!-- Kyle- Finalized details for Member 12/4/2018 6:24PM-->


<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.customerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.active)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.customerId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
