<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Details.cshtml
    Purpose: Html code for the Details section of Members page.
    Workload:   We each contributed equally to this.
-->
@model CostLowApp.Models.member

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <hr />
        <!--Begin Details List-->
        <dl class="dl-horizontal">

            <!--Customer ID data-->
            <dt>
                @Html.DisplayNameFor(model => model.customerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.customerId)
            </dd>

            <!--First Name data-->
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <!--Last Name Data-->
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <!--Phone Number Data-->
            <dt>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <!--Active Status Data-->-->
            <dt>
                @Html.DisplayNameFor(model => model.active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.active)
            </dd>

        </dl>
        <!--End Details List-->
    </div>
    <p>
        <!--Edit Button: Send user to edit member form-->
        @Html.ActionLink("Edit", "Edit", new { id = Model.customerId }) |

        <!--Back Button: Send user to Member Index-->
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
