<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Index.cshtml
    Purpose: Html code for the Index section of Members page.
    Workload:   We each contributed equally to this.
-->
@model IEnumerable<CostLowApp.Models.member>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Member List</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.customerId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.customerId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.customerId })
                </td>
            </tr>
        }

    </table>
    <p>@Html.ActionLink("BACK", "MemberPortal", "members")</p>
</div>