<!--
    Developers: Hunter Hatchette, Kyle Bastson
    File Name:  Index.cshtml
    Purpose: Html code for the Index section of the Visits page.
    Workload:   We each contributed equally to this.
-->

@model IEnumerable<CostLowApp.Models.visit>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Visit List</h2>

    <!--Create Button: Send user to Create Visit Form-->
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <!--Create Table to Display Visits-->
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.member.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amountSpent)
            </th>
            <th></th>
        </tr>

        <!--Populate Table from database-->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.member.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.store.storeNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amountSpent)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.customerId, id2 = item.storeNumber, id3 = item.date }) |
                    @Html.ActionLink("Details", "Details", new { id = item.customerId, id2 = item.storeNumber, id3 = item.date }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.customerId, id2 = item.storeNumber, id3 = item.date })
                </td>
            </tr>
        }

    </table>
    <p>@Html.ActionLink("BACK", "VisitPortal", "visits")</p>
</div>
