@model IEnumerable<CostLowApp.Models.visit>

@{
    ViewBag.Title = "Index";
}

<h2>Visit List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member.lastName)
        </th>
        <th>
               @Html.DisplayNameFor(model => model.storeNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amountSpent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.member.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.store.storeNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amountSpent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.customerId, id2=item.storeNumber, id3=item.date }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
<p>@Html.ActionLink("BACK", "VisitPortal", "visits")</p>
