<!------------------------------------------------------------------------------
//  Developers: Hunter Hatchette, Kyle Bastson
//  File Name:  Details.html
//  Purpose:    Create html form to display department details
//  Workload:   We each contributed equally to this.
//----------------------------------------------------------------------------->

@model CostLowApp.Models.department

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron">
    <h2>Details</h2>

    <div>
        <h4>Department</h4>
        <hr />

        <!--Begin list of details-->
        <dl class="dl-horizontal">
            
            <!--Department Name-->
            <dt>
                @Html.DisplayNameFor(model => model.departmentName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.departmentName)
            </dd>

            <!---Department Phone Extension-->
            <dt>
                @Html.DisplayNameFor(model => model.phoneExtension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneExtension)
            </dd>

            <!--Store Number-->
            <dt>
                @Html.DisplayNameFor(model => model.storeNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.storeNumber)
            </dd>

            <!--Number of department's employees-->
            <dt>
                Number of Employees
            </dt>

            <dd>
                @Html.DisplayFor(model => model.employees.Count)
            </dd>

            <!--Store address-->
            <dt>
                @Html.DisplayNameFor(model => model.store.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.store.address)
            </dd>

        </dl>
    </div>
    <p>
        <!--Edit Button: Allow edit of department-->
        @Html.ActionLink("Edit", "Edit", new { id = Model.departmentId, id2 = Model.storeNumber }) |
        <!--Back Button: Return user to department index-->
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
