@model IEnumerable<CostLowApp.Models.department>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Department List</h1>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phoneExtension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store.address)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneExtension)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.store.address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
    <p>@Html.ActionLink("BACK", "DepartmentPortal", "departments")</p>
</div>